:root {
  --gold-color: #F1A600;
  --dark-color: #1F1D2C;
  --dark-grey-color: #242635;
  --light-grey-color: #E5E5E5;
  --white-color: #FFFFFF;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: var(--light-grey-color);
}

/*utilities*/
.gold {
  color: var(--gold-color);
}

.white {
  color: var(--white-color);
}

/*header starts here*/
header {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-color);
}

nav {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 10vh;
  z-index: 2;
  margin-left: 5%;
}

nav a {
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: var(--white-color);
}

nav a:first-child:hover {
  color: #F1A600;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 90vh;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 35%;
  margin-bottom: 5%;
}

.information h1 {
  display: flex;
  width: 100%;
  height: 30%;
  font-size: 80px;
  z-index: 2;
}

.information h2 {
  display: flex;
  width: 90%;
  height: 20%;
  font-size: 35px;
  z-index: 2;
}

.years-experience {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10%;
  width: 100%;
  height: 20%;
}

.social-media-icons img {
  display: flex;
  width: 10%;
}

.vanessa {
  display: flex;
  width: 30%;
  z-index: 2;
}

.vector {
  display: flex;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 36%;
  height: 85%;
  background-color: var(--dark-grey-color);
}

.mobile-header {
  display: none;
}

/*main starts here*/
.about-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: var(--dark-grey-color);
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: var(--dark-grey-color);
}

.about-title h2 {
  background-color: var(--dark-grey-color);
  font-size: 50px;
  margin-top: 50px;
}

.about-description {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 30%;
  background-color: var(--dark-grey-color);
}

.about-description p {
  background-color: var(--dark-grey-color);
}

.about-description-mobile {
  display: none;
}

.study-icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
  background-color: var(--dark-grey-color);
}

.uvm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 10px;
  background-color: var(--dark-grey-color);
}

.uvm img {
  display: flex;
  width: 60%;
}

.uvm h3 {
  background-color: var(--dark-grey-color);
  font-size: 20px;
}

.uvm p {
  background-color: var(--dark-grey-color);
}

.academlo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 10px;
  background-color: var(--dark-grey-color);
}

.academlo img {
  display: flex;
  width: 60%;
  background-color: var(--dark-grey-color);
}

.academlo h3 {
  background-color: var(--dark-grey-color);
  font-size: 20px;
}

.academlo p {
  background-color: var(--dark-grey-color);
}

.academlo {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 80%;
}

/*experience section starts here */
.experience {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-color);
  z-index: 1;
}

.experience-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.experience-title h2 {
  font-size: 50px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
  gap: 10%;
}

.amazon {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  margin-left: 30%;
}

.amazon-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.amazon-description h3 {
  font-size: 30px;
}

.amazon-years h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 15%;
}

.airbnb {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  margin-left: 30%;
}

.airbnb-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.airbnb-description h3 {
  font-size: 30px;
}

.airbnb-years h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 15%;
}

.google {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  margin-left: 30%;
}

.google-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.google-description h3 {
  font-size: 30px;
}

.google-years h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 15%;
}

/* skills section starts here */
.skills {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-color);
}

.vector-2 {
  display: flex;
  position: absolute;
  width: 60%;
  left: 0;
}

.vector2-mobile {
  display: none;
}

.skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  text-align: center;
  z-index: 1;
}

.skills-title h2 {
  font-size: 50px;
}

.mobile-app-design {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  width: 50%;
  height: 25%;
  z-index: 1;
}

.mobile-app-design h1 {
  display: flex;
  width: 10%;
  font-size: 80px;
  color: var(--gold-color);
}

.mobile-app-design h2 {
  display: flex;
  font-size: 40px;
  color: var(--light-grey-color);
}

.web-design {
  display: none;
}

.motion-design {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  width: 50%;
  height: 25%;
  z-index: 1;
}

.motion-design h1 {
  display: flex;
  width: 10%;
  font-size: 80px;
  color: var(--gold-color); 
}

.motion-design h2 {
  display: flex;
  font-size: 40px;
  color: var(--light-grey-color);
}

.system-design {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  width: 50%;
  height: 25%;
  z-index: 1;
}

.system-design h1 {
  display: flex;
  width: 10%;
  font-size: 80px;
  color: var(--gold-color);
}

.system-design h2 {
  display: flex;
  font-size: 40px;
  color: var(--light-grey-color);
}

.project-managment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  width: 50%;
  height: 25%;
  z-index: 1;
}

.project-managment h1 {
  display: flex;
  width: 10%;
  font-size: 80px;
  color: var(--gold-color);
}

.project-managment h2 {
  display: flex;
  font-size: 40px;
  color: var(--light-grey-color);
}


/* portfolio section starts here */
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130vh;
  background-color: var(--dark-color);
  z-index: 1;
}

.portfolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.portfolio-title h2 {
  font-size: 50px;
  padding: 50px;
}

.portfolio-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 22px;
  width: 70%;
}

.first-photo {
  display: flex;
  position: relative;
}

.first-photo div {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  top: 5px;
  right: 20px;
  background-color: var(--gold-color);
}

.first-photo img {
  display: flex;
  margin: auto;
  padding-top: 20px;
  width: 85%;
  height: 90%;
  z-index: 1;
}

.second-photo {
  display: flex;
  position: relative;
}

.second-photo div {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  top: 5px;
  right: 20px;
  background-color: var(--dark-grey-color);
}

.second-photo img {
  display: flex;
  margin: auto;
  padding-top: 20px;
  width: 85%;
  height: 90%;
  z-index: 1;
}

.third-photo {
  display: flex;
  position: relative;
}

.third-photo div {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  top: 5px;
  right: 20px;
  background-color: var(--gold-color);
}

.third-photo img {
  display: flex;
  margin: auto;
  padding-top: 20px;
  width: 85%;
  height: 90%;
  z-index: 1;
}

.mobile-portfolio {
  display: none;
}

/*footer starts here*/
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: var(--dark-color);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: var(--dark-grey-color);
}

.contact h2 {
  font-size: 50px;
  margin-top: 50px;
}

.number-and-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: var(--dark-grey-color);
}

.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 22%;
}

.number img {
  display: flex;
  width: 14%;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 70%;
}

.email img {
  display: flex;
  width: 18%;
}

.made-with-love-in-academlo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.mobile-footer {
  display: none;
}