:root {
  --gold-color: #F1A600;
  --dark-color: #1F1D2C;
  --dark-grey-color: #242635;
  --light-grey-color: #E5E5E5;
  --white-color: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: var(--light-grey-color);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*utilities*/
.gold {
  color: var(--gold-color);
}

.white {
  color: var(--white-color);
}

/*header starts here*/
header {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-color);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 10vh;
  z-index: 2;
  margin-left: 5%;
}

nav a {
  text-decoration: none;
  font-size: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  width: 35%;
  margin-bottom: 5%;
}

.information h1 {
  display: flex;
  width: 90%;
  height: 20%;
  font-size: 80px;
  z-index: 2;
}

.information h2 {
  display: flex;
  width: 100%;
  height: 20%;
  font-size: 35px;
  z-index: 2;
}

.years-experience {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 20%;
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15%;
  width: 90%;
  height: 20%;
}

.social-media-icons img {
  display: flex;
  width: 10%;
}

.vanessa {
  display: flex;
  width: 30%;
  z-index: 2;
}

.vector {
  display: flex;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 36%;
  height: 85%;
  background-color: var(--dark-grey-color);
}

.mobile-header {
  display: none;
}

@media (max-width: 480px) {

  header {
    display: none;
  }

  .mobile-header {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: var(--dark-color);
  }

  .menu {
    display: flex;
    position: fixed;
    top: 10px;
    right: 20px;
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(350deg) brightness(103%) contrast(102%);
    z-index: 5;
  }

  .mobile-header h1 {
    display: flex;
    font-size: 50px;
    margin-top: 25%;
    z-index: 1;
  }

  .mobile-header-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
  }

  .mobile-header-description h2 {
    font-size: 18px;
  }

  .mobile-social-media-icons {
    display: flex;
    gap: 20px;
    margin: 20px;
    z-index: 1;
  }

  .vanessa-mobile {
    display: flex;
    width: 60%;
    margin-bottom: 100px;
    z-index: 1;
  }

  .vector-mobile {
    display: flex;
    position: absolute;
    background-color: var(--dark-grey-color);
    width: 64%;
    height: 75%;
    top: 0;
    right: 0;
  }
}

/*main starts here*/
.about-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: var(--dark-grey-color);
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: var(--dark-grey-color);
}

.about-title h2 {
  background-color: var(--dark-grey-color);
  font-size: 50px;
  margin-top: 50px;
}

.about-description {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 30%;
  background-color: var(--dark-grey-color);
}

.about-description p {
  background-color: var(--dark-grey-color);
}

.about-description-mobile {
  display: none;
}

.study-icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
  background-color: var(--dark-grey-color);
}

.uvm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 10px;
  background-color: var(--dark-grey-color);
}

.uvm img {
  display: flex;
  width: 60%;
}

.uvm h3 {
  background-color: var(--dark-grey-color);
  font-size: 20px;
}

.uvm p {
  background-color: var(--dark-grey-color);
}

.academlo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  gap: 10px;
  background-color: var(--dark-grey-color);
}

.academlo img {
  display: flex;
  width: 60%;
  background-color: var(--dark-grey-color);
}

.academlo h3 {
  background-color: var(--dark-grey-color);
  font-size: 20px;
}

.academlo p {
  background-color: var(--dark-grey-color);
}

.academlo {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 80%;
}

@media (max-width: 480px) {
  .first-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
  }
  
  .about-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
  }

  .about-title h2 {
    font-size: 40px;
    margin-top: 50px;
  }
  
  .about-description {
    display: none;
  }

  .about-description-mobile {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 30%;
    background-color: var(--dark-grey-color);
  }

  .about-description-mobile p {
    font-size: 14px;
    width: 100%;
  }
  
  .study-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
  }
  
  .uvm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%;
    gap: 10px;
  }
  
  .uvm img {
    display: flex;
    width: 40%;
  }
  
  .uvm h3 {
    font-size: 16px;
  }
  
  .uvm p {
    font-size: 12px;
  }
  
  .academlo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%;
    gap: 10px;
    margin-bottom: 40px;
  }
  
  .academlo img {
    display: flex;
    width: 40%;
  }
  
  .academlo h3 {
    font-size: 16px;
  }
  
  .academlo p {
    font-size: 12px;
  }
}

/*experience section starts here */
.experience {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-color);
}

.experience-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.experience-title h2 {
  font-size: 50px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
  gap: 10%;
}

.amazon {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  margin-left: 30%;
}

.amazon-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.amazon-description h3 {
  font-size: 30px;
}

.amazon-years h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 15%;
}

.airbnb {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  margin-left: 30%;
}

.airbnb-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.airbnb-description h3 {
  font-size: 30px;
}

.airbnb-years h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 15%;
}

.google {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  margin-left: 30%;
}

.google-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.google-description h3 {
  font-size: 30px;
}

.google-years h3 {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 15%;
}

@media (max-width: 480px) {
  .experience-title h2 {
    font-size: 40px;
    padding-top: 50px;
  }
  
  .experience-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 80%;
  }
  
  .amazon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
  }
  
  .amazon-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }
  
  .amazon-description h3 {
    font-size: 14px;
  }

  .amazon-description h4 {
    font-size: 12px;
  }

  .amazon-description p {
    font-size: 12px;
  }
  
  .amazon-years h3 {
    font-size: 14px;
    text-align: center;
  }

  .amazon img {
    display: flex;
    width: 80%;
  }
  
  .airbnb {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
  }
  
  .airbnb-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .airbnb-description h3 {
    font-size: 14px;
  }
  
  .airbnb-description h4 {
    font-size: 12px;
  }

  .airbnb-description p {
    font-size: 12px;
  }

  .airbnb-years h3 {
    font-size: 14px;
    text-align: center;
  }

  .airbnb img {
    display: flex;
    width: 75%;
  }
  
  .google {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
  }
  
  .google-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .google-description h3 {
    font-size: 14px;
  }

  .google-description h4 {
    font-size: 12px;
  }

  .google-description p {
    font-size: 12px;
  }
  
  .google-years h3 {
    font-size: 14px;
    text-align: center;
  }

  .google img {
    display: flex;
    width: 80%;
  }

}

/* skills section starts here */
.skills {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-color);
}

.vector-2 {
  display: flex;
  position: absolute;
  width: 60%;
  left: 0;
}

.vector2-mobile {
  display: none;
}

.skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  text-align: center;
  z-index: 1;
}

.skills-title h2 {
  font-size: 50px;
}

.mobile-app-design {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  width: 50%;
  height: 25%;
  z-index: 1;
}

.mobile-app-design h1 {
  display: flex;
  width: 10%;
  font-size: 80px;
  color: var(--gold-color);
}

.mobile-app-design h2 {
  display: flex;
  font-size: 40px;
  color: var(--light-grey-color);
}

.web-design {
  display: none;
}

.motion-design {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  width: 50%;
  height: 25%;
  z-index: 1;
}

.motion-design h1 {
  display: flex;
  width: 10%;
  font-size: 80px;
  color: var(--gold-color); 
}

.motion-design h2 {
  display: flex;
  font-size: 40px;
  color: var(--light-grey-color);
}

.system-design {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  width: 50%;
  height: 25%;
  z-index: 1;
}

.system-design h1 {
  display: flex;
  width: 10%;
  font-size: 80px;
  color: var(--gold-color);
}

.system-design h2 {
  display: flex;
  font-size: 40px;
  color: var(--light-grey-color);
}

.project-managment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  width: 50%;
  height: 25%;
  z-index: 1;
}

.project-managment h1 {
  display: flex;
  width: 10%;
  font-size: 80px;
  color: var(--gold-color);
}

.project-managment h2 {
  display: flex;
  font-size: 40px;
  color: var(--light-grey-color);
}

@media (max-width: 480px) {
  .skills {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: var(--dark-color);
  }
  
  .vector-2 {
    display: none;
  }
  
  .vector-mobile2 {
    display: flex;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 0;
    background-color: var(--dark-grey-color);
  }

  .skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    text-align: center;
    z-index: 1;
  }
  
  .skills-title h2 {
    font-size: 40px;
    padding-top: 50px;
  }
  
  .mobile-app-design {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    width: 80%;
    height: 20%;
    z-index: 1;
  }
  
  .mobile-app-design h1 {
    display: flex;
    width: 10%;
    font-size: 40px;
    color: var(--gold-color);
  }
  
  .mobile-app-design h2 {
    display: flex;
    font-size: 16px;
    color: var(--light-grey-color);
  }

  .web-design {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    width: 80%;
    height: 20%;
    z-index: 1;
  }
  
  .web-design h1 {
    display: flex;
    width: 10%;
    font-size: 40px;
    color: var(--gold-color);
  }
  
  .web-design h2 {
    display: flex;
    font-size: 16px;
    color: var(--light-grey-color);
  }
  
  .motion-design {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    width: 80%;
    height: 20%;
    z-index: 1;
  }
  
  .motion-design h1 {
    display: flex;
    width: 10%;
    font-size: 40px;
    color: var(--gold-color); 
  }
  
  .motion-design h2 {
    display: flex;
    font-size: 16px;
    color: var(--light-grey-color);
  }
  
  .system-design {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    width: 80%;
    height: 20%;
    z-index: 1;
  }
  
  .system-design h1 {
    display: flex;
    width: 10%;
    font-size: 40px;
    color: var(--gold-color);
  }
  
  .system-design h2 {
    display: flex;
    font-size: 16px;
    color: var(--light-grey-color);
  }
  
  .project-managment {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    align-items: center;
    width: 80%;
    height: 20%;
    z-index: 1;
  }
  
  .project-managment h1 {
    display: flex;
    width: 10%;
    font-size: 40px;
    color: var(--gold-color);
  }
  
  .project-managment h2 {
    display: flex;
    font-size: 16px;
    color: var(--light-grey-color);
  }
}

/* portfolio section starts here */
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
  background-color: var(--dark-color);
}

.portfolio-title {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
}

.portfolio-title h2 {
  font-size: 50px;
  padding: 50px;
}

.portfolio-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 22px;
  height: 70%;
}

.first-photo {
  display: flex;
  position: relative;
}

.first-photo div {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  top: 5px;
  right: 20px;
  background-color: var(--gold-color);
}

.first-photo img {
  display: flex;
  margin: auto;
  padding-top: 20px;
  width: 85%;
  height: 90%;
  z-index: 1;
}

.second-photo {
  display: flex;
  position: relative;
}

.second-photo div {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  top: 5px;
  right: 20px;
  background-color: var(--dark-grey-color);
}

.second-photo img {
  display: flex;
  margin: auto;
  padding-top: 20px;
  width: 85%;
  height: 90%;
  z-index: 1;
}

.third-photo {
  display: flex;
  position: relative;
}

.third-photo div {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  top: 5px;
  right: 20px;
  background-color: var(--gold-color);
}

.third-photo img {
  display: flex;
  margin: auto;
  padding-top: 20px;
  width: 85%;
  height: 90%;
  z-index: 1;
}

.mobile-portfolio {
  display: none;
}

@media (max-width: 480px) {
  .portfolio {
    display: none;
  }

  .mobile-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--dark-color);
  }

  .portfolio-title-mobile {
    height: 20%;
  }

  .portfolio-title-mobile h2 {
    font-size: 40px;
    padding: 50px;
  }

  .portfolio-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 50px;
    margin-bottom: 50px;
  }
}

/*footer starts here*/
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: var(--dark-color);
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: var(--dark-grey-color);
}

.contact h2 {
  font-size: 50px;
  margin-top: 50px;
}

.number-and-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: var(--dark-grey-color);
}

.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 22%;
}

.number img {
  display: flex;
  width: 14%;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 70%;
  
}

.email img {
  display: flex;
  width: 18%;
}

.made-with-love-in-academlo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.mobile-footer {
  display: none;
}

@media (max-width: 480px) {

  footer {
    display: none;
  }

  .mobile-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background-color: var(--dark-grey-color);
  }

  .mobile-footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: auto;
  }

  .mobile-footer-title h2 {
    font-size: 40px;
    margin-top: 40px;
    color: var(--white-color);
  }

  .mobile-number-and-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
  }

  .mobile-number {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .mobile-number img {
    width: 18%;
  }

  .mobile-number h3 {
    font-size: 16px;
  }

  .mobile-number p {
    font-size: 16px;
  }

  .mobile-email {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .mobile-email img {
    width: 18%;
  }

  .mobile-email h3 {
    font-size: 16px;
  }

  .mobile-email p {
    font-size: 16px;
  }

  .made-with-love-in-academlo-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
  }

  .made-with-love-in-academlo-mobile h3 {
    font-size: 14px;
  }
}